@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121127;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 1s infinite alternate linear;
}
